header {
	text-align: center;
	background-image: url('../img/banniere\ ape.png');
	background-size: cover;
	/* background-position: center; */
	color: aliceblue;
	text-shadow: 2px 2px 3px black;
	padding: 1rem;
}

header h1 {
	font-size: 3rem;

}

header h2 {
	font-size: 1.5rem;
}

nav.menu {
	font-size: 1.5rem;
	height: auto;
}

.menu--page {
	transform: translateX(0);
	transition: transform 1.5s ease, opacity ease 1.2s;
	opacity: 1;
	background-color: goldenrod;
	width: 100%;
	left: 0px;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;

}

.menu--page a {
	width: 100%;
	font-size: 2rem;
	margin: 1rem;
	display: inline-block;
	text-align: center;
}

.menu--page img {
	height: 3rem;
	width: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.hide {
	transform: translateX(-100vw);
	opacity: 0;
	z-index: 10;
	transition: transform 1.5s ease, opacity ease 1.2s;
}

.nav-list {
	padding: 10px;
	list-style-type: none;
	font-size: 2em;
}


.menu--open--fullscreen__header {
	height: 10vh;
}

.menu--open--fullscreen__nav {
	height: 90vh;
}

.menu {
	margin-top: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


button.menu--open,
button.menu--close {
	color: aliceblue;
	font-size: 2rem;
	text-shadow: 2px 2px 3px black;
	background-color: rgba(240, 248, 255, 0);
	border-style: none;
}

button.menu--open {
	transform: rotate(90deg);
	/* pour rectifier l'ombre du à la rotation */
	text-shadow: 2px -2px 3px black;
}



*/ nav button {
	float: right;
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-weight: bold;
}

.sale--slider {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

.sale--card,
.event--card {
	display: block;
	border: 1px solid black;
	background-color: rgba(218, 165, 32, 0.247);
	border-radius: 1rem;
	font-size: 1rem;
	padding: 1rem;
	width: 80%;
	text-align: center;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px lightgray;
}

.sale--card__img,
.event--card__img {
	height: 2rem;
	float: left;
}

.event--card__title,
.sale--card__title {
	font-size: 1.2rem;
	font-weight: bold;
}

.sale--list {
	display: none;
}


footer {
	border-top: 3px solid #f0f;
}

.footer--list {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}

.footer--list__link {
	width: 40%;
	padding: 1rem;
	text-align: center;
}