header {
	text-align: center;
	background-image: url('../img/banniere\ ape.png');
	background-size: cover;
	background-position: center;
	color: aliceblue;
	text-shadow: 2px 2px 3px black;
	padding: 1rem;
}

header h1 {
	font-size: 3rem;

}

header h2 {
	font-size: 1.5rem;
}

nav.menu {
	font-size: 1.5rem;

}

.menu {
	transform: translateX(0);
	transition: transform 1.5s ease, opacity ease 1.2s;
	opacity: 1;
	background-color: goldenrod;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	width: 100%;
	height: 100vh;
	left: 0px;
	bottom: 0px;
}

.menu--page a {
	width: 100%;
	font-size: 2rem;
	margin: 1rem;
	display: inline-block;
	text-align: center;
}

.menu--page img {
	height: 3rem;
	width: 3rem;
	margin-left: auto;
	margin-right: auto;
}

.hide {
	transform: translateX(-100vw);
	opacity: 0;
	z-index: 10;
	transition: transform 1.5s ease, opacity ease 1.2s;
}

.nav-list {
	padding: 10px;
	list-style-type: none;
	font-size: 2em;
}


.menu--open--fullscreen__header {
	/* height: 10vh; */
}

.menu--open--fullscreen__nav {
	/* height: 100vh;
	bottom: 0px;
	padding-top: 5rem; */
}

.menu {
	/* margin-top: 0px; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


button.menu--open,
button.menu--close {
	color: aliceblue;
	font-size: 2rem;
	text-shadow: 2px 2px 3px black;
	background-color: rgba(240, 248, 255, 0);
	border-style: none;
	/* position: fixed; */
	float: right;
	right: 1rem;
	top: 1rem;
	z-index: 11;
}

button.menu--open {
	transform: rotate(90deg);
	/* pour rectifier l'ombre du à la rotation */
	text-shadow: 2px -2px 3px black;
}

nav button {
	width: 2rem;
	height: 2rem;
	font-weight: bold;
	z-index: 12;
}

.sale--slider {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
	background-color: aquamarine;
}

.sale--card,
.event--card {
	display: block;
	border: 1px solid black;
	background-color: rgba(218, 165, 32, 0.247);
	border-radius: 1rem;
	font-size: 1rem;
	padding: 1rem;
	width: 80%;
	text-align: center;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 0px 10px lightgray;
}

.sale--card__img,
.event--card__img {
	height: 2rem;
	float: left;
}

.event--card__title,
.sale--card__title {
	font-size: 1.2rem;
	font-weight: bold;
}

.event--list {
	background-color: azure;
}

.sale--list {
	display: none;
	background-color: bisque;
}


footer {
	border-top: 3px solid #f0f;
	background-image: url(../img/dessins-enfants.png);
	background-size: cover;
	background-position: center;

}

.footer--list {

	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	background-color: rgba(59, 55, 55, 0.733);
}

.footer--list__link {
	display: inline-block;
	width: 40%;
	padding: 0.5rem;
	font-size: 1rem;
	text-align: center;
	color: aliceblue;
	font-weight: bold;
}

@media screen and (min-width: 600px) {
	.sale--list {
		display: block;
	}

	.sale--slider {
		display: none;
	}
}

@media screen and (min-width: 800px) {
	main {
		width: auto;
		display: flex;
	}

	.sale--slider {
		display: none;
	}

	.event--list {
		width: 70%;
	}

	.event--list ul {
		width: 100%;
		height: fit-content;
		margin: 0px;
		display: flex;
		justify-content: center;
		justify-content: space-evenly;
		flex-wrap: wrap;

	}

	.event--card {
		width: 40%;
	}

	.event--card__img {
		width: 95%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.sale--list {
		width: 30%;
		height: 100vh;
		overflow: auto;
	}

	.sale--list ul {

		display: flex;
		flex-direction: column;
	}

	.sale--card {
		width: 80%;
	}

	.sale--card__img {
		width: 95%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}

}