/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Base CSS*/
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	position: relative;
	background-color: #FEF4E1;
}

/* header */

header {
	background-color: #46BFC7;
	height: 20%;
	height: 6rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-family: 'Merienda', cursive;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 1rem;
	color: #ec473f;
}

#burger--open {
	margin: 1rem;
	color: #111;
}
.burger {
	height: 100%;
	width: 350px;
	position: fixed;
	z-index: 1;
	top: 0;
	right: -350px;
	background-color: #333;
	padding-top: 60px;
	/* Permet de sortir le menu vers le bas */
	transition: right 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

/* burger menu links */
.burger a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	border: 1px solid #444;
	font-size: 1.6rem;
	color: #27a7c3;
	display: block;
	transition: 1s;
}

.burger a:hover {
	color: #b0ca00;
	font-size: 1.7rem;
}

/* Active class */
.burger.active {
	right: 0;
}

/* Close btn */
.burger #burger--close {
	position: absolute;
	top: 2rem;
	right: 25px;
	font-size: 36px;
}

main {}

/* slider */
.sale--slider {
	margin: 1rem auto;
	width: 90%;
	max-height: 8rem;
	text-align: center;
	padding: 0.5rem;
	border: 1px solid black;
}
.sale--slider h2 {
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0.3rem;
}

.sale--slider p {
	font-size: 0.9rem;
}

/* event card */

.event--card {
	width: 90%;
	border: 1px solid black;
	border-radius: 10px;
	margin: 1rem auto;
	height: auto;
}
.event--card img{
	width: 100%;
	height: auto;
	border-radius: 10px 10px 0 0;
}

.event--card h2 {
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0.5rem;
}

.event--card p {
	padding: 0.5rem;
}

/* footer */
footer {
	background-image: #46BFC7;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

.footer--list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.footer--list__link {
	padding: 1rem 0.5rem;
}

.footer--list__link a {
	font-size: 0.9rem;
	text-decoration: none;
	color: black;
	transition: 1s;
	font-size: 1rem;
}

.footer--list__link a:hover {
	transform: scale(1.25);
	font-size: 1.1rem;
	color: #27a7c3;
}

header a:active {
	color: #27a7c3;
}

@media (min-width: 1000px) {
	.event--list {
		display: flex;
		flex-wrap: wrap;
		width: 70%;
	}

	#burger--close, #burger--open {
		display: none;
	}
	.event--card {
		width: 40%;
	}

	.burger--nav {
		display: flex;
		top: 20rem;


	}
	.home {
		background-color: #85B689;
		border:0.1rem solid #FFFFFF;
	}
	.sales {
		background-color: #FBAD18;
		border:0.1rem solid #FFFFFF;
	}
	.events {
		background-color: #EF6852;
		border:0.1rem solid #FFFFFF;
	}
	.registration {
		background-color: #8FCED7;
		border:0.1rem solid #FFFFFF;
	}
	.login{
		background-color: #F8AAA4;
		border:0.1rem solid #FFFFFF;
	}
	.presentation {
		background-color: #946973;
		border:0.1rem solid #FFFFFF;
	
	}
}