//HOVER NAV ANIMATE HEADER
        div:hover{
            filter: brightness(1.5);
        }
        
        div:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -7px;
            left: 0;
            background-color: #0087ca;
            transform-origin: bottom right;
            transition: transform 0.50s ease-out;
            }
        div:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
            } 

//HOVER LI ANIMATE FOOTER

            li:hover{
                filter: url();
            }

        li:after {
            content: "";
            position: absolute;
            width: 30%;
            transform: scaleX(0);
            height: 1.5px;
            bottom: -4px;
            left: 35%;
            background-color: #ec473f;
            transform-origin: bottom right;
            transition: transform 0.5s cubic-bezier(0, 0, 0.42, 0.76);
            filter: brightness(1.5);
            }
            li:nth-child(2n+0):after{
                background-color: #b0ca00;
            }
        li:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
            } 
            